/* Cagov color scheme root variables */
:root {
 /* Theme colors */
 --primary-50: #F8FAFD;
 --primary-100: #E9EEF7;
 --primary-200: #CCD8ED;
 --primary-300: #A8BDE1;
 --primary-400: #7697D0;
 --primary-500: #416EBD;
 --primary-600: #1950AF;
 --primary-700: #003da7;
 --primary-800: #002D7A;
 --primary-900: #002461;

 --accent1-50: #F8FBF3;
 --accent1-100: #E6F2D6;
 --accent1-200: #C5E0A0;
 --accent1-300: #9BCA5C;
 --accent1-400: #77A33C;
 --accent1-500: #58792D;
 --accent1-600: #405720;
 --accent1-700: #2F4118;
 --accent1-800: #283714;
 --accent1-900: #202B10;

 --accent2-50: #FFF9F2;
 --accent2-100: #FFE7CE;
 --accent2-200: #FFC78B;
 --accent2-300: #FFA03A;
 --accent2-400: #FF8220;
 --accent2-500: #C06300;
 --accent2-600: #9A5000;
 --accent2-700: #793E00;
 --accent2-800: #592E00;
 --accent2-900: #452400;
}